.canvas {
  width: 100vw;
  height: 100vh;
}

.canvas aside {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  border-right: 1px solid #eee;
  height: auto;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.canvas aside .description {
  margin-bottom: 10px;
}

.dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndnode.input {
  background-color: #4ecb71;
}

.dndnode.output {
  background-color: #d99bff;
}

@media screen and (min-width: 768px) {
  .canvas aside {
    width: 20%;
    max-width: 250px;
  }
}

.chat {
  position: absolute;
  z-index: 5;
  right: 0;
  height: calc(90vh - 64px);
  width: 15%;
  min-width: 300px;

  margin: 32px;
  padding: 24px;

  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

ul {
  margin: 0;
  padding: 24px;
}

